@media (min-width: 480px){
}
body{
  font-family: 'Slabo 27px', serif;
	margin:0;
	width:100%;
	height:100vh;
  	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 25px;
  margin-top: 20px;
  padding: 10px 10px;
  color: #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #ffd200;
}

p {
  color: #000;
  font-size: 15px;
}
header{
	width:100%;
	background:#fff;
	height:100px;
	line-height:60px;
	border-bottom:1px solid #dddddd;
  }

#logo img {
  width: 115px;
  height: 115px;
  z-index: 100000000000000;
  position: relative;
  top: 0px;
  left: 0px;
}

div.center {
  margin: 0 auto;
  width: 80em;
}

#aspot-slides {
  width: 90%;
  margin-top:30px;
  border: 2px dotted gray;
}

#News {
  width: 90%;
  padding-bottom: 650px;
  margin-bottom: 50px;
}

#News img {
  width: 50%;
  display: inline-block;
  float: left;
  border: 1px solid grey;
  margin: 5px;
}

#News p {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  float: right;

}
.fancybox-slide--video .fancybox-content {
  width  : 700px;
  height : 500px;
  max-width  : 80%;
  max-height : 80%;
  }

#Gallery {
  background-color: #efefef;
}

#hamburger-cross-background {
  background-color: #fff;
  width: 80px;
  height: 80px;
}
.hamburger{
  background: none;
  position:absolute;
  top:0;
  right:0;
  margin: 10px 10px;
  padding:5px 5px 5px 5px;
  color:#000;
  border:0;
  font-size:3em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  margin: 10px 10px;
  padding:7px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:6em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}



@media (min-width: 768px){
}
